@model IEnumerable<LSR.Models.User_InfoSet>
<style>
    .avatar{
        display:block;
        width:50px;

        aspect-ratio:1/1;
        border-radius:50%;
    }
</style>
<div class="table-responsive">
    @*<table class="table table-striped table-sm">

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @if (item.Image != null)
                                {
                                    var ImagePath = System.Configuration.ConfigurationManager.AppSettings["AvatarFolder_js"] + "/" + item.Image;
                                    <img class="avatar" src="@ImagePath ">
                                }
                                else
                                {
                                    var ImagePath = System.Configuration.ConfigurationManager.AppSettings["AvatarFolder_js"] + "/" + System.Configuration.ConfigurationManager.AppSettings["DefaultAvatar"];
                                    <img class="avatar" src="@ImagePath ">
                                    }
                        &nbsp;&nbsp;
                        @item.UserName
                    </td>
                    <td>歌单：@item.User_MusicSheet_rel.Count(s => s.UserId == item.UserId)</td>
                    <td>粉丝数：@item.User_User_rel.Count(s => s.FollowUserId == item.UserId)</td>
                    <td>关注：
                        @if(item.User_User_rel)
                        @Ajax.ActionLink("+", "Follow", "User",
                       new AjaxOptions
                            {
                           UpdateTargetId = "FollowBtn",
                           InsertionMode = InsertionMode.Replace,
                           HttpMethod = "GET"
                       },
                       new { id = "FollowBtn", @class = "btn btn-primary btn-sm" }
                       )
                        </td>
                        </tr>
                        }
                        </tbody>
                        </table>*@
                        <div class="table table-striped table-sm">
                            <ul class="list-group list-group-flush">
                                @foreach (var item in Model)
                                {
                                    <li class="list-group-item " style="padding:0px;">
                                        <div class="row">
                                            <div class="col-md-4 row ">
                                                <div class="col-md-2">
                                                    @if (item.Image != null)
                                                    {
                                                        var ImagePath = System.Configuration.ConfigurationManager.AppSettings["AvatarFolder_js"] + "/" + item.Image;
                                                        <img class="avatar" src="@ImagePath ">
                                                    }
                                                    else
                                                    {
                                                        var ImagePath = System.Configuration.ConfigurationManager.AppSettings["AvatarFolder_js"] + "/" + System.Configuration.ConfigurationManager.AppSettings["DefaultAvatar"];
                                                        <img class="avatar" src="@ImagePath ">
                                                    }
                                                </div>
                                                <div class="card-text col-md-10">@item.UserName</div>
                                            </div>
                                            <div class="col-md-2 card-text">歌单：@item.User_MusicSheet_rel.Count(s => s.UserId == item.UserId)</div>
                                            <div class="col-md-2 card-text">粉丝数：@item.User_User_rel.Count(s => s.FollowUserId == item.UserId)</div>
                                            <div class="col-md-4 card-text">
                                                关注：
                                                @*@if(item.User_User_rel)*@
                                                @Ajax.ActionLink("+", "Follow", "User",
                                               new AjaxOptions
                                                    {
                                                   UpdateTargetId = "FollowBtn",
                                                   InsertionMode = InsertionMode.Replace,
                                                   HttpMethod = "GET"
                                               },
                                               new { id = "FollowBtn", @class = "btn btn-primary btn-sm" }
                                               )
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
