<style>
    .littleCard{
        min-width:700px;
        min-height:200px;
        border:0;
    }
    .littleCard>img{
        width:160px;
        aspect-ratio:1/1;
        border-radius:50%
    }
</style>
<div class="littleCard">
    <a href=""><img src=""></a>
    <div class="row">
        <div
    </div>
</div>
